# Auto detect text files and perform LF normalization
* text=auto

# Ensure all Java files use LF
*.java text eol=lf

# Ensure all XML files use LF
*.xml text eol=lf

# Ensure all Markdown files use LF
*.md text eol=lf

# Treat all binary files as binary and do not change line endings
*.png binary
*.jpg binary
*.gif binary
*.pdf binary
*.zip binary
*.jar binary
*.exe binary